:root {
  --main-color: #f6f5f3;
  --secondary-color: wheat;
  --third-color: #c19579;
  --warning-color: #e6b417;

  --dark-main-color: #171B2C;
  --dark-main-color-washed: #5f4a2c;
  --dark-secondary-color: #013475;
  --dark-third-color: #74e6ed;
  --dark-warning-color: #5977ad;

}

html {
  overflow: hidden;
}
body {
  background: linear-gradient(60deg, var(--main-color), lighten(#f6f5f3, 82%));
  margin: 0;
  font-family: 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-main-color);
  overflow: hidden;
    height: calc(100vh);
  @media screen and (prefers-color-scheme: dark) {
    background: linear-gradient(60deg, var(--dark-main-color), darken(#023475, 2%));
    color: var(--main-color);
  }
}

.logo {
  width: 120px;
  path {
    fill: var(--secondary-color);
  }
  @media screen and (prefers-color-scheme: light) {
    path {
      fill: var(--third-color);
    }
  }
}

img {
  width: 100%;
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.2),
    0px 6px 14px 0px rgba(0, 0, 0, 0.14), 0px 1px 22px 0px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro' !important;
  font-weight: 600;
  line-height: 1.4;
  font-size: 2rem !important;
  margin-bottom: 50px !important;
  @media screen and (min-width: 600px) {
    font-size: 3rem !important;
    margin-bottom: 30px !important;
  }
}
h6 {
  font-family: 'Questrial', sans-serif !important;
  margin-bottom: 10px !important;
  text-transform: uppercase;
}

.MuiTabs-indicator {
  height: 3px !important;
  background-color: var(--warning-color) !important;
  font-weight: 400 !important;
  &:hover {
    color: var(--warning-color) !important;
  }
}

button {
  font-weight: 600 !important;
  font-size: 1.15rem !important;
  text-shadow: 0 1px 1px black;
  line-height: 1.1 !important;
  &:hover {
    color: var(--warning-color) !important;
  }
}
